@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Ubuntu:wght@300&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
#title{
  background-color: #ff4c68;
  color:white;
  text-align: left;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .dog-img{
    transform: rotate(0deg);
    position: static;
  }
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
  line-height: 1.5;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
font-weight: 900;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
h3{
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
p{
  color: #9D9D9D;
  font-family: "Montserrat",sans-serif;
}
.container-fluid{
  padding:3% 15%;

}
.navbar{
  padding-bottom:4.5rem;
}
.nav-item{
  padding:0px 30px ;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;

}
.download-button{
  margin: 5% 3% 5% 0;
}
.dog-img{
  margin:0 60px;
  width:400px;
  transform: rotate(20deg);
  position: absolute;
}



#features{
  background-color: #fff;
  padding: 10% 15%;
  z-index: 1;
  position: relative;
}
.feature-box{
  text-align: center;
  padding:5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
}
.testimonial_text{
  color:#fff;
  font-family: "Montserrat";
  font-weight: "bold";
}
.testimonial_image{
  width:10%;
  border-radius:100%;
  margin:20px;
}

.tern{
  padding: 7% 10%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press_img{
  width:15%;
  margin: 20px 20px 50px;
}
#pricing{
  padding:100px;
  text-align: center;
}
.price_column{
  padding:20px;
}
#cta{
  background-color: #ff4c68;
  padding-top: 10px;
  text-align: center;
}
.heading{
  font-size: 2.5rem;
  color: #fff;
  padding: 45px 15px;
}
#footer{
  text-align: center;
  padding: 17% 15%;
}
.social{
  padding: 15px 8px;
}
